@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: url("new\ year.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1{
    font-weight: normal;
    font-size: 6rem;
    margin-top: 12.5rem;
    color: white;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
    color: white;
}

.countdown-el{
    text-align: center;
    
}

.countdown-el span{
    font-size: 1.5rem;
    color: white;
    margin-top: 4rem;
}
    